body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color: #353535;
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: rgb(132, 255, 255);
}

h1 {
    text-align: center;
    font-size: 64px;
    margin-bottom: 30px;
    color: #4b4a4a;
}

p {
    font-size: 30px;
    margin-bottom: 20px;
}
